.primary-container {
  display: flex;
  width: 100%;
}

.user_info {
  background-color: #fff;
  height: 550px;
  width: 350px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: box-shadow 0.2s;
}
.user_info .user_header {
  height: 15%;
  width: 100%;
  padding: 20px;
}
.user_info .user_header .text_operation {
  background-color: #343a40;
  color: white;
  padding: 10px 10px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.user_info .user_body {
  height: 70%;
  width: 100%;
}
.user_info .user_body .container_body {
  width: 95%;
  margin-left: 2.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  overflow-y: auto;
}
.user_info .user_body .container_body .label_input {
  align-self: flex-start;
  padding-left: 20px;
}
.user_info .user_body .container_body .inputs_user {
  width: 90%;
  align-self: center;
  margin-bottom: 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  border-bottom: 2px solid rgba(52, 58, 64, 0.3137254902);
  padding-left: 10px;
  padding-right: 10px;
}
.user_info .user_body .container_body .inputs_user:focus {
  border-bottom: 2px solid #0e9ca7;
}
.user_info .user_body .container_body .message_num {
  margin-top: -20px;
  align-self: flex-end;
  color: rgba(102, 101, 101, 0.7529411765);
  font-size: 13px;
  padding-right: 20px;
}
.user_info .user_body .container_body .password {
  display: flex;
  width: 90%;
  align-self: center;
}
.user_info .user_body .container_body .password input {
  height: 30px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.user_info .user_body .container_body .password button {
  border: none;
  height: 30px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  outline: none;
  background-color: #343a40;
  color: white;
}
.user_info .user_footer {
  height: 15%;
  width: 100%;
}
.user_info .user_footer #button_update, .user_info .user_footer #button_register {
  background-color: #343a40;
  color: white;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  transition: all 0.2s;
  margin-top: 10px;
}
.user_info .user_footer #button_update:hover, .user_info .user_footer #button_register:hover {
  background-color: rgba(52, 58, 64, 0.9529411765);
  font-size: 17px;
}
.user_info .user_footer #button_plus {
  margin-left: 5px;
  background-color: #343a40;
  color: white;
  border: none;
  outline: none;
  border-radius: 100%;
  padding: 10px 15px;
}
.user_info .user_footer #button_plus:hover {
  background-color: rgba(52, 58, 64, 0.9529411765);
  font-size: 17px;
}

.user_info:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.user_info:hover .user_img {
  height: 235px;
  width: 320px;
  margin-left: 20px;
  border-bottom-width: 0.1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(219, 219, 219);
}
.user_info:hover .correo-trabajador-div {
  width: 320px;
}
.user_info:hover .user_img i {
  font-size: 180px;
}
.user_info:hover .user_img .option-edit-user i {
  font-size: 33px;
  position: absolute;
  left: 93%;
  color: #066de2;
}

.user_img {
  height: 225px;
  width: 310px;
  margin-left: 20px;
  border-bottom-width: 0.1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(219, 219, 219);
  text-align: center;
}

.user_img i {
  font-size: 170px;
  margin-top: 20px;
  transition: all 0.3s;
  color: #0e9ca7;
}

.user_img .option-edit-user i {
  font-size: 30px;
  position: absolute;
  left: 93%;
  top: 100px;
  color: #066de2;
  transition: width 0.3s;
}
.user_img .option-edit-user i:hover {
  font-size: 35px;
}

.correo-trabajador-div {
  width: 310px;
  border-top-width: 0.1px;
  border-top-style: solid;
  border-top-color: rgb(219, 219, 219);
  padding: 10px 20px 20px 20px;
  transition: box-shadow 0.2s;
}

.user_description {
  padding: 10px;
  width: auto;
  text-align: center;
}
.user_description h5 {
  font-weight: bold;
}

.container-tables {
  height: 100%;
  width: 80%;
  align-items: center;
}

.tables-user {
  width: 98%;
  height: 550px;
  max-height: 550px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #fff;
}
.tables-user:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.scroll-tables-user {
  width: 100%;
  height: 80%;
  overflow-y: auto;
}

.table tr td {
  text-align: left;
  padding-left: 15px;
}

.title-tables-user {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  transition: width 0.3s;
  border-bottom: 2px solid #0e9ca7;
  width: 50%;
  margin-left: 25%;
  cursor: pointer;
}

.input_search {
  height: 40px;
  width: 90%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid;
  border-width: 0px;
  border-bottom: 3px solid silver;
  background-color: #fffdfd;
  border: none;
  color: #0d0d0d;
  padding: 15px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 85%;
  border: 2px solid #fffdfd;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border-color: rgba(0, 0, 0, 0.1);
}
.input_search:focus {
  border-bottom: 3px solid #0e9ca7;
  outline: none;
}
.input_search:placeholder {
  color: #fffdfd;
  outline: none;
}

.inf {
  font-weight: bold;
}

.cargando {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.cargando lottie-player {
  align-self: center;
}

.td_activo {
  display: flex;
  height: 100%;
}
.td_activo .center {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.td_activo .center .No_activo {
  height: 10px;
  width: 10px;
  background-color: red;
  align-self: center;
  border-radius: 100%;
}
.td_activo .center .Activo {
  height: 10px;
  width: 10px;
  background-color: rgb(7, 165, 7);
  align-self: center;
  border-radius: 100%;
}

.selected {
  background-color: rgba(14, 157, 167, 0.231372549);
  color: rgb(7, 4, 189);
}

.table_swat2 tbody tr th {
  cursor: pointer;
}

.salida_por_derecha {
  animation: salidaDerechaCarousel 1.5s linear;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

.entrada_por_derecha {
  animation: entradaDerechaCarousel 10.5s linear;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

@keyframes salidaDerechaCarousel {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(2700px);
    position: absolute;
  }
}
@keyframes entradaDerechaCarousel {
  from {
    transform: translate(1700px);
    display: block;
  }
  to {
    transform: translate(0);
  }
}

/*# sourceMappingURL=Titulos.css.map */
