$height_drag_area:550px;
$width_drag_area:90%;
$toogle_dashboard:#0e9ca7;
.drop-area{
    margin-left: 1%;
    border: 5px dashed #ddd;
    width:$width_drag_area;
    height: $height_drag_area;
    border-radius:5px ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &.active{
        background-color: #b8d4fe;
        color: black;
        border: 2px dashed $toogle_dashboard;
    }
   
    .Mensaje_upload_archivo{
        display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2{
        font-size: 30px;
        font-weight: 500;
        color: #000;

    }
    span{
        font-size: 25px;
        color: #000;

    }
   
}

h2{
    font-size: 30px;
    font-weight: 500;
    color: #000;

}
span{
    font-size: 25px;
    color: #000;

}
.cargar_archivo{
    background-color: $toogle_dashboard;
}
button, .btn-primary{
    padding: 10px 25px;
    font-size: 20px;
    border: 0;
    outline: none;
    color: white;
    background-color: $toogle_dashboard;
    border-radius: 5px;
    margin: 20px;
   &:hover{
    color: white;
   }
}
}
.upload_error{
    background-color: rgba(231, 31, 31, 0.037);
    border: 5px dashed rgba(231, 31, 31, 0.589);
    margin-left: 1%;
width:$width_drag_area;
height: $height_drag_area;
border-radius:5px ;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.progress{
    position: relative;
    height: 30px;
    width: 95%;
}
#error_upload_alert{
    width: 100%;
    top: 10%;
}
.file-container{
    padding: 10px;

   
}
.progress-bar{
    width: 0%;
    transition: all 0.4s;
    
}
button, .btn-primary{
    padding: 10px 25px;
    font-size: 20px;
    border: 0;
    outline: none;
    color: white;
    background-color: $toogle_dashboard;
    border-radius: 5px;
    margin: 20px;
  
}
.status{

    progress{

        width: 93%;
    }
    .fa-circle-xmark{
        position: relative;
        width: 5%;
        padding-left: 5px;
        font-size:30px;
        top:-30px;
        left: 48%;
        cursor:pointer;
        color: rgb(235, 231, 231);
        &:hover{
            color: #e93535;
        }
    }
    .fa-circle-check{
        position:relative;
        width: 5%;
        padding-left: 5px;
        font-size:30px;
        top: -14px;
        cursor:pointer;
        color: $toogle_dashboard;
    }
    #porcentaje_progreso{
        position: relative;
        font-size: 20px;
        text-align: center;
        left: 180px;
        top:-73px;
        color: white;
    }
}
progress{
height: 50px;
}
#error_upload_alert{
    max-height: 900px;
    overflow-y: auto;
}

.img_excel{
    cursor: pointer;
    width: 150px;
    height: 150px;
    transition: all 0.1s;
    &:hover{
        width: 170px;
        height: 170px;

    }
}
.select-swit{
    border:none;
    outline: none;
 background-color: rgb(247, 245, 245);
padding: 10px 20px;
border-radius: 10px;

}

