$width_user:350px;
$height_user:550px;
$width_user_table:400px;
$height_user_table:300px;
$toogle_dashboard:#0e9ca7;
.user_info{
    height: $height_user;
    width: $width_user;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: width 0.2s;
    .user_header{
        height: 15%;
        width: 100%;
        padding: 20px;
        .text_operation{
            background-color: #343a40;
            color: white;
            padding: 10px 10px;
            border-top-right-radius: 20px;
            border-bottom-left-radius: 20px;
        }
    }
    .user_body{
        height: 70%;
        width: 100%;
       .container_body{
        width: 95%;
        margin-left:2.5% ;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        overflow-y: auto;
        
        .label_input{
            align-self: flex-start;
            padding-left: 20px;
         
         
        }
        .inputs_user{
            width: 90%;
            align-self: center;
            margin-bottom: 20px;
            border: none;
            outline: none;
            border-radius: 5px;
            border-bottom: 2px solid #343a4050;
            transition: all 0.2s;
            padding-left: 10px;
            padding-right: 10px;
            &:focus{
                border-bottom: 2px solid #0e9ca7;
                
            }
        }
        .message_num{
            margin-top: -20px;
            align-self: flex-end;
            color: #666565c0;
            font-size: 13px;
            padding-right: 20px;
           
        }
       
        .password{
           
            display: flex;
            width: 90%;
           align-self: center;
            input{
             
                height: 30px;
            
                border-top-right-radius:0 ;
                border-bottom-right-radius: 0;
                
            }
            button{
                border: none;
                height: 30px;
                border-bottom-right-radius: 5px ;
                border-top-right-radius: 5px;
                outline: none;
                background-color: #343a40;
                color: white;
            }
            
        }
       }
    }
    .user_footer{
        height: 15%;
        width: 100%;
       
            #button_update, #button_register{
                background-color: #343a40;
                color: white;
                outline: none;
                border: none;
                padding: 10px 20px ;
                border-radius: 10px;
                transition: all 0.2s;
                margin-top: 10px;
                &:hover{
                    background-color: #343a40f3; 
                    
                    font-size: 17px;
                }
               
            }
            #button_plus{
                margin-left: 5px;
                background-color: #343a40;
                color: white;
                border: none;
                outline: none;
                border-radius: 100%;
                padding: 10px 15px ;
                &:hover{
                    background-color: #343a40f3; 
                    
                    font-size: 17px;
                }
            }
        
       
       
    }
}

.user_info:hover{
    height: $height_user+10;
    width: $width_user+10;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .user_img{
        height:($width_user*0.5)+50+10;
        width: ($width_user)-40+10;
        margin-left: 20px;
        border-bottom-width: 0.1px;
        border-bottom-style:solid;
        border-bottom-color: rgb(219, 219, 219);
    }
    .correo-trabajador-div{
    
        width: ($width_user)-40+10;
       
    }
    .user_img i{
        font-size:180px;
     
    }
    .user_img .option-edit-user i{
        font-size:33px;
        position: absolute;
        left: 93%;
        color: #066de2;
        transition: all 0.2s;
        ;
        
    }
}

.user_img{
    height:($width_user*0.5)+50;
    width: ($width_user)-40;
    margin-left: 20px;
    border-bottom-width: 0.1px;
    border-bottom-style:solid;
    border-bottom-color: rgb(219, 219, 219);
    transition: all 0.2s;
    text-align: center;
}
.user_img i{
    font-size:170px;
    margin-top: 20px;
    transition: all 0.3s;
    color: $toogle_dashboard;
}
.user_img .option-edit-user i{
    font-size:30px;
    position: absolute;
    left: 93%;
    top: 100px;
    
    color: #066de2;
    transition: width 0.3s;
    &:hover{
        font-size:35px;
        
    }
    
}
.correo-trabajador-div{
    
    width: ($width_user)-40;
    border-top-width: 0.1px;
    border-top-style:solid;
    border-top-color: rgb(219, 219, 219);
    padding:10px 20px 20px 20px;
    transition: width 0.2s;
}
.user_description{
    padding: 10px;
    width: auto;
    text-align: center;
    h5{
        font-weight:bold;
    }
}
.container-tables{
    height: 100%;
    width: 70%;
    align-items: center;
    
}
.tables-user{
    width: 98%;
    height: $height_user;
    max-height: $height_user;
    border-top-left-radius:30px ;
    border-bottom-right-radius: 30px;
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.2s;
 &:hover{
  
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }

}
.scroll-tables-user{
    width: 100%;
    height: 80%;
    overflow-y: auto;
}
.table{
    tr{
        th{
            
        }
        td{
           text-align: left;
           padding-left: 15px;
           
        }
    }
    
}
.title-tables-user{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px ;
    transition: width 0.3s;
    border-bottom: 2px solid #0e9ca7;
    width: 50%;
    margin-left: 25%;
    cursor: pointer;
}
.input_search{
    height: 40px;
    width: 90%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border:solid;
    border-width: 0px;
    border-bottom: 3px solid silver ;
    background-color: #fffdfd;
    border: none;
    color: #0d0d0d;
    padding: 15px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 85%;
    border: 2px solid #fffdfd;;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    border-color: rgba($color: #000000, $alpha: 0.1);
    &:focus{
        border-bottom: 3px solid $toogle_dashboard;
        outline: none;
    }
    &:placeholder{
        color: #fffdfd;
        outline: none;
    }
   
}
.inf{
    font-weight:bold;
}
.cargando{
    width: 100%;
    display: flex;
    flex-direction: column;
    lottie-player{
       
        align-self: center;
    }
}
.td_activo{
   display: flex;
   height: 100%;
   .center{
    display: flex;
    flex-direction: column;
    align-self: flex-end;

    .No_activo{
        height: 10px;
        width: 10px;
        background-color: red;
        align-self: center;
       border-radius: 100%;
    }
    .Activo{
        height: 10px;
        width: 10px;
        background-color: rgb(7, 165, 7);
        align-self: center;
       border-radius: 100%;
    }
   }
}

