@import 'bootstrap/bootstrap';
@import 'bootstrap/variables';
@import 'bootstrap/mixins';
::-webkit-scrollbar {display: none;}
$width_user:350px;
$height_user:550px;
$width_user_table:400px;
$height_user_table:300px;
$toogle_dashboard:#0e9ca7;
.primary-container{
    display: flex;
    width: 100%;
    margin-left: 5%;
    @include media-breakpoint-down(md){
        display: flex;
        width: 100%;
        margin-left: 5%;
        flex-direction: column-reverse;
        justify-items: center;
        align-items: center;
		
	}
}
.user_info{
    height: $height_user;
    width: $width_user;
    border-radius: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: width 0.2s;
    background-color: #fff;
    @include media-breakpoint-down(md){
        height: $height_user;
        width: 80%;
        border-radius: 30px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transition: width 0.2s;
        background-color: #fff;
        margin-bottom: 20px;
    }

}
.user_info:hover{ 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
}
.user_img span{
    font-size:170px;
    margin-top: 20px;
    transition: all 0.3s;
    color: $toogle_dashboard;
}
.user_img .option-edit-user span{
    font-size:30px;
    position: absolute;
    left: 93%;
    top: 100px;
    
    color: #066de2;
    transition: width 0.3s;
    
    
}
.correo-trabajador-div{
    
    width: ($width_user)-40;
    border-top-width: 0.1px;
    border-top-style:solid;
    border-top-color: rgb(219, 219, 219);
    padding:10px 20px 20px 20px;
    transition: width 0.2s;
}
.user_description{
    padding: 10px;
    width: 98%;
    margin-left: 1%;
    text-align: center;
    h5{
        width: 100%;
        font-weight:bold;
        display: flex;
        justify-content: center;
        overflow-y: none;
        overflow-x: scroll;
        max-height: 20px;
    }
    .user-info{
        width: 100%;
        display: flex;
        .info{
            width: 50%;
            h6{
                overflow-y: none;
                overflow-x: scroll;
                height: 20px;
                max-height: 20px;
            }
        }
       
    }
}
.container-tables{
    height: 100%;
    width: 70%;
    align-items: center;
    @include media-breakpoint-down(md){
        height: 100%;
        width: 98%;
        align-items: center; 
    }
}
.tables-user{
    width: 98%;
    height: $height_user;
    max-height: $height_user;
    background-color: #fff;
    border-top-left-radius:30px ;
    border-bottom-right-radius: 30px;
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 0.2s;
 &:hover{
  
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }

}
.scroll-tables-user{
    width: 100%;
    height: 90%;
    overflow-y: auto;
}
.table{
    tr{
        td{
           text-align: center;
           
        }
    }
}
.title-tables-user{
    padding: 0 150px 0 150px;
    background-color: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px ;
    transition: width 0.3s;
    cursor: pointer;
}
.inf{
    font-weight:bold;
}

.show-info-user{
    border:none;
    background-color: transparent !important;
    cursor: text !important;
    width: 100%;
    font-weight: bold;
}
.show-info-user-sub{
    border:none;
    background-color: transparent !important;
    cursor: text !important;
    width: 100%;
    color: black;
    text-align: center;
    
}
